*{
    margin: 0px;
    padding: 0px;
}



body{
    background-color: #ff55f1
    width: 320px;
    height: 420px;
    max-width: 400px;
}


.contenedor{
    margin: auto
    witdh: 490px;
    margin-top: 200px;
    text-align:center ;
}

img{
     position:relative;
       width: 200px ; 
       right: 50px ;
       left: 13px ;
}



.titulo{
    margin-botton: 5px ;
    text-align:center ;
    width: 500px ;


}


.opciones p{
     margin: auto;
    background: black;
    display: block;
    padding: 12px; 
    color: #ffffff;
    border-radius: 2px;
    font-weight: bold;
    text-align:center;
    right: 400px;
}


p.p1{
    position: absolute;
    top: 400px; 
    left: 400px;
    width: 80px;


    }

p.p1:hover{
    background: #ff153f;
    cursor: pointer;


    }

p.p2{
    position: absolute;
    top: 400px;
    left: 300px;
    width: 80px;
    text-align: 
}
p.p2-hover{
    background: green;
    cursor: pointer;
    text-align:center;
}
#si{
    background: #ff001f;

    left: 20px;
    position: absolute;
    top: 500px;
    width: 430px;
    color: #red;
    padding: 10px;
    display: none;
    border-radius: 2%;
}
