*{
    margin: 0px;
    padding: 0px;
}



body{
    background-color: #ff55f1
    width: 320px;
    height: 420px;
    max-width: 400px;
}


.contenedor{
    margin: auto
    witdh: 490px;
    margin-top: 200px;
    text-align:center ;
}

img{
     position:relative;
       width: 200px ; 
       right: 50px ;
       left: 13px ;
}



.titulo{
    margin-botton: 5px ;
    text-align:center ;
    width: 500px ;


}


.opciones p{
     margin: auto;
    background: black;
}
    
