<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VCC Confiesate</title>
    <link rel="stylesheet" href="../style.css"> 
    <link rel="icon" href="https://vcc.softromy.com/favicon.png">
    <link rel="stylesheet" href="confesarme.css">
    <script src="https://kit.fontawesome.com/a8192839c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <span class="span-max">CONFIESATE</span>
        <button class="button btn-inicio">Inicio</button>
    </header>

    <div class="des">
        <p>Las confesiones serán completamente anónimas, ya que no requerimos ningún dato personal ni solicitamos la creación de una cuenta para preservar su privacidad de manera absoluta.</p>
    </div>
    <section>
        <div class="main-content">
            <div class="confession-form">
                <h2 style="text-align: center; font-weight: bold; font-size: 1.5em;">Publicar Confesión</h2>
                <div>
                    <span class="text-">Titulo: </span>
                    <input placeholder="Escribe un titulo..." class="input" required>
                </div>
                <div>
                    <span class="text-">Descripcion:</span>
                    <textarea id="confession-text" placeholder="Escribe tu confesión" class="input"></textarea>
                </div>

                <input type="file" id="image-input" accept="image/*" multiple onchange="previewImages()">

                <div id="img-conten"></div>

                <input type="submit" class="buttona" type="button" onclick="addConfession()"></input>
            </div>
        </div>
    </section>
    <footer class="footer">
        <p>&copy; 2023 Confiesate Ccalamaquino</p>
    </footer>
    <script src="../main.js"></script>
</body>
</html>
